<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\data\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value ="none@none.com"/>
		<add key="senderDisplayName" value ="Dan"/>

		
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=(localdb)\MSSQLLocalDB;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.sqlClient"/>

	</connectionStrings>

	<system.net> 
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host ="127.0.0.1" userName ="Dan" password="Testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
		
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>